body {
  width: 80%;
  margin: auto;
  font-family: "Grandstander", cursive;
}

h1 {
  text-align: center;
}

.itemDescription {
  padding-left: 15px;
}

.leftContainer,
.rightContainer {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  margin-top: 25px;
}
